@media (max-width: 768px) {
  #home {
    h1 {
      width: 400px;

      img {
        width: 400px;
      }
    }
  }
}

@media (max-width: 425px) {
  #home {
    h1 {
      width: 300px;

      img {
        width: 300px;
      }
    }
  }
}