#projects {

  .modal {
    .modal_content {
      .modal_inner {
        img.pc-size, img.businessCard {
          width: 300px;
        }
        
        img.tablet-size {
          width: 150px;
        }
        
        img.mobile-size {
          width: 75px;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .project {
      padding-bottom: 40px;
    }
  
    .modal {
      .modal_content {
        width: 90%;
        overflow-y: scroll;
        
        img {
          display: block;
          margin: 0 auto 20px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .project {
      .hover_shine {
        width: 100%;
      }
    }
  }

  @media (max-width: 425px) {
    .modal {
      .modal_content {
        padding: 20px 20px;

        .modal_inner {
          img.pc-size, img.businessCard {
            width: 100%;
          }
          
          img.tablet-size {
            width: 70%;
          }
          
          img.mobile-size {
            width: 50%;
          }
        }
      }
    }
  }
}