@import "../foundation/_variables.scss";

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: calc(#{$txt-h1} - 10px);

    &.page-title {
      padding: 15% 0 7%;
    }
  }

  h2 {
    font-size: calc(#{$txt-h2} - 15px);
  }

  h3 {
    font-size: calc(#{$txt-h3} - 5px);
  }

  .grid-container {
    display: block;
  }

  // Header
  .p-drawer {
    nav#gnav {
      ul {
        font-size: calc($txt-h3 - 5px);
      }
    }
  }

  // Posts
  .post {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // Single
    #single {
      .post-header {
        position: static;
        height: auto;

      .post-title, .post-meta {
        position: static;
        transform: none;
      }
    }
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: calc(#{$txt-h1} - 20px);
    
    &.page-title {
      padding: 30% 0 15%;
    }
  }
  
  .logo-btn, .logo-btn > img {
    width: 40px;
    height: 40px;
  }
  
  p, table, label, input, textarea, .post-meta, button, footer {
    font-size: calc(#{$txt} - 2px);
    line-height: 2;
  }

  // Header
  .p-drawer {
    nav#gnav {
      ul{
        li {
          margin: 0 10px;
          padding: 0 10px;
        }
      }
    }
  }

  // Post
  #blogList {
    .post {
      .post-content {
        .hover_shine {
          figure {
            height: 200px;
          }
        }
      }
    }
  }
}