@import "../../foundation/variables";

/* Logo Button */
.logo-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 8;
  filter: drop-shadow(0 0 10px $white);
  transition: $transition;
  
  &:hover {
    transform: scale(1.2);
  }
}

/* Button Style */
.btn {
  padding: 20px 40px;
  margin: 40px auto 0;
  position: relative;
  display: block;
  cursor: pointer;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid $black;
    transition: $transition;
  }
  
  &::before {
    transform: translate(3px, 3px);
  }
  
  &::after {
    transform: translate(-3px, -3px);
  }
  
  &:hover::before,
  &:hover::after,
  &:focus::after,
  &:focus::after {
    transform: translate(0);
    filter: drop-shadow(0 0 5px $black);
  }
}

// Disabled Button
.disabled {
  pointer-events: none;
}

/* Scroll Up Button*/
a {
  .scrollUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    width: 50px;
    z-index: 3;
    display: none;
    cursor: pointer;
    filter: drop-shadow(0 0 10px $white);
    
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}